.main_img {
    position: relative;
    width: 100%;
    height: auto;
}
.main_img img{
    width: 100%;
}
.img_box>img {
    width: 100%;
}

.align_box {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1320px;
    height: 100%;
    width: 100%;
    padding: 0 60px;
}

.text_box {
    position: absolute;
    top: 30%;
    bottom: 0;
    padding: 10px 0;
    text-align: left;
    height: auto;
}

p.onepoint, p.date {
    font-size: 16px;
}

.btn_event_go {
    position: absolute;
    bottom: 40px;
    left: 60px;
    border: solid 1px #555;
    width: 110px;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    font-size: 13px;
    color: #333;
    background-color: transparent;
    transition: .2s ease-in-out;
}

.btn_event_go:hover {
    background-color: #555;
    color: white;
    cursor: pointer;
}

.text_box>h3 {
    margin-bottom: 10px;
    line-height: 50px;
    font-size: 36px;
}

.text_box>p.onepoint {
    margin-bottom: 12px;
}

a {
    color: black;
}

.mySwiper1 {
    width: 100%;
    height: 100%;
}

.mySwiper1 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    /* display: -webkit-box; */
    display: -ms-flexbox;
    /* display: -webkit-flex; */
    /* display: flex; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.mySwiper1 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper1 .swiper-button-next{
    color: lightgray;
}
.mySwiper1 .swiper-button-next:hover{
    color: gray;
}
.mySwiper1 .swiper-button-prev{
    color: lightgray;
}
.mySwiper1 .swiper-button-prev:hover{
    color: gray;
}
